@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: #a3a3a3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'JetBrains Mono', monospace;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: -0.025em;
    color: white;
  }
  .font-sans {
    font-family: 'Inter', sans-serif;
  }
  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}
